<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="app">
        <div class="contain">
            <div class="contain-up">
                <div class="menu">
                    <div class="selectedmenu">
                        <el-tabs v-model="activeName" @tab-click="">
                            <el-tabs type="border-card">
                                <el-tab-pane label="创建进程">
                                    <div class="mylabel">创建进程</div>
                                        <el-input placeholder="请输入内容" v-model="createprocessid" :disabled="true">
                                            <template slot="prepend">进程id</template>
                                        </el-input>
                                    <div>
                                        <div class="block">
                                            <div class="mylabel">段数</div>
                                            <el-slider v-model="createprocesssegment" :step="1" :min="1" :max="4">
                                            </el-slider>
                                        </div>
                                        <div class="block">
                                            <div class="mylabel">每个段大小</div>
                                            <el-slider v-model="createprocesssegmentsize" :step="1" :min="1" :max="10">
                                            </el-slider>
                                        </div>
                                    </div>
                                    <div class="mylabel">内存总需求</div>
                                    <div class="mylabel">内存申请</div>
                                    <div style="margin-left: 30%;">
                                        <el-button plain style="font-size: 30px;width: 60% ;" @click="createprocess">创建</el-button>
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane label="查找">
                                    <el-input placeholder="请输入内容" v-model="searchprocessid">
                                        <template slot="prepend">进程ID</template>
                                    </el-input>
                                    <el-input placeholder="请输入内容" v-model="searchprocesssegment">
                                        <template slot="prepend">&nbsp;段&nbsp;号&nbsp;&nbsp;</template>
                                    </el-input>
                                    <el-input placeholder="请输入内容" v-model="searchprocessspage">
                                        <template slot="prepend">offset</template>
                                    </el-input>
                                    <el-button round style="margin-left: 20%;margin-top: 10%;font-size: 30px;width: 60% ;" @click="locatapage">查找</el-button>
                                </el-tab-pane>
                            </el-tabs>
                        </el-tabs>

                    </div>
                </div>
                <div class="table">
                    <div class="processandsegment"> 
                        <div class="mylabel">当前内存中进程</div>
                        <div class="processtable">
                            <el-table :data="processtable" height="100%">
                                <el-table-column label="进程ID" width="90">
                                    <template slot-scope="scope">
                                        <i class="el-icon-time"></i>
                                        <span style="margin-left: 10px">{{ scope.row.pid}}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="进程状态" width="150">
                                    <template slot-scope="scope">
                                        <el-popover trigger="hover" placement="top">
        <!-- pid:processid, size: needpage, segmentlength: nowprocesssegmenttable.length, segmenttable: nowprocesssegmenttable, -->
                                            <p>段数: {{ scope.row.segmentlength }}</p>
                                            <p>进程大小: {{ scope.row.size }}</p>
                                            <div slot="reference" class="name-wrapper">
                                                <el-tag size="medium">{{ scope.row.state }}</el-tag>
                                            </div>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="scope">
                                        <el-button size="mini" @click="looksegmentframe(scope.$index,scope.row)">查看段表</el-button>
                                        <el-button size="mini" type="danger" @click="deleteprocess(scope.$index, scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="segmenttable" v-if="">
                            <div class="mylabel" >进程{{nowprocess.pid}}段表</div>
                            <el-table :data="nowprocess.segmenttable" style="width: 100%" height="80%">
                                <el-table-column prop="segmentnumber" label="段号" width="90">
                                </el-table-column>
                                <el-table-column prop="state" label="状态" width="90">
                                    <div class="el-icon-success">sss</div>
                                </el-table-column>
                                <el-table-column prop="pagetabalesize" label="页表大小">
                                </el-table-column>
                                <el-table-column prop="pagetableaddress" label="页表始地址">
                                </el-table-column>
                                <el-table-column fixed="right" label="查看页表" width="100">
                                    <template slot-scope="scope">
                                        <el-button @click="lookpagetable(scope.$index,scope.row)" type="text" size="small">查看</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                    <div class="pagetable">
                        <div class="mylabel" >页表</div>
                        <el-table :data="nowprocesspagetable" style="width: 95%" height="90%">
                            <el-table-column prop="pagenumber" label="页号" width="72">
                            </el-table-column>
                            <el-table-column prop="state" label="状态" width="72">
                            </el-table-column>
                            <el-table-column  label="页框号"width="88" >
                                <template scope="scope" v-if="scope.row.state=='in'">
                                    {{ scope.row.pageframenumber}}
                                </template>
                            </el-table-column>
                            <el-table-column label="改变状态"width="100">
                                <template scope="scope" v-if="scope.row.state=='in'">
                                    <el-button size="mini" type="danger" @click="changepagestate(scope.$index, scope.row)">改变</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <div class="mainmemory">
                    <div class="memory-display">
                        <div class="mylabel">可用块:</div>
                        <div style="text-align: center;">共{{usablepagenum}}个</div>
                        <div class="nowcanusepage"style="height: 60%;">
                            <el-table :data="mainmemory" style="width: 100%" height="88%">
                                    <el-table-column  label="页号" width="70" @click="aaa(this)" >
                                        <template scope="scope" v-if="!scope.row.hasdata">
                                            {{ scope.row.pagenum}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column  label="地址" >
                                        <template scope="scope" v-if="!scope.row.hasdata">
                                            {{ scope.row.pageaddress}}
                                        </template>
                                    </el-table-column>
                            </el-table>
                        </div>
                        <div class="mylabel">主存使用情况</div>
                        <div style="margin-left: 15%">
                            <el-progress type="circle" :percentage="100*(numberofpage-usablepagenum)/numberofpage" color="#8e71c7"></el-progress>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="contain-bottom">
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:function(){
            return {
                mainmemorysize: 128,
                pagesize:2,
                mainmemory:[],
                residentset:8,
                // segmenttable:[],
                pagetableinmemory:[],//内存中所有程序的页表
                pagetable:[],//每个进程每个段的页表
                usablepagenum:0,
                processtable:[],
                numberofpage:0,
                nowprocess:{
                    pid:0,
                    segmenttable:[],
                },
                switchalgorithm:1,
                nowprocesspagetable:[],
                createprocesssegment:0,
                createprocesssegmentsize:0,
                createprocessid:0,
                pageage:1,
                searchprocessid:0,
                searchprocesssegment:0,
                searchprocessspage:0,
        }
        },
        mounted:function(){
            
            this.numberofpage  = this.mainmemorysize/this.pagesize
            this.usablepagenum = this.numberofpage
            for(let i = 0;i<this.numberofpage;i++){
                let page={
                    pagenum: i,
                    pageaddress: i * this.pagesize,//页起始地址
                    age: 0,
                    hasdata: false,
                    times:0,
                    contain:-1//存放进程id
                }
                if(Math.random()>0.8){
                    page.hasdata = true;
                    this.pageage  = (this.pageage + 1)/this.numberofpage
                    page.age = Math.round(Math.random() * this.numberofpage)
                    page.times = Math.round( Math.random() * this.numberofpage)

                    this.usablepagenum = this.usablepagenum -1;
                }
                // this.page.pagenum=i,
                // this.page.pageaddress=,//页起始地址
                // this.page.age= 0,
                // this.page.hasdata=false,
                this.mainmemory.push(page)
            }
        },
        methods:{
            createprocess:function(){
                let processid = this.createprocessid
                let segmentnumber = this.createprocesssegment
                let segmentsize= this.createprocesssegmentsize
                //所需页数
                let needpage = segmentnumber*segmentsize< this.residentset?segmentnumber * segmentsize:this.residentset
                if(needpage>this.usablepagenum){
                    // 页面置换         
                    if(this.switchalgorithm==1){
                        this.fifo(needpage - this.usablepagenum)
                    }
                    else{
                        this.lru(needpage - this.usablepagenum)
                    }
                    this.usablepagenum = needpage
                }
                if (1){
                    let nowprocesssegmenttable = []
                    let temp = []
                    let number = 0;
                    let pageinmemory = needpage
                    for (let i = 0; i < needpage;) {
                        if (this.mainmemory[number].hasdata == false) {
                            this.mainmemory[number].hasdata = true
                            this.mainmemory[number].contain = processid
                            this.pageage = (this.pageage + 1) / this.numberofpage
                            this.mainmemory[number].age = Math.round(Math.random() * this.numberofpage)
                            this.mainmemory[number].times = Math.round(Math.random() * this.numberofpage)
                            temp.push(number)
                            i = i+1
                            this.usablepagenum = this.usablepagenum-1
                        }
                        number = number + 1
                    }
                    for(let i =0;i<segmentnumber;i++){
                        let temppagetable = []
                        // 创建每个段的页表
                        for(let j = 0;j<segmentsize;j++){
                            let temppagetableitem = {
                                processid: processid,
                                pagenumber: j,
                                state: "out",
                                pageframenumber: null,
                            }
                            if (pageinmemory > 0){
                                temppagetableitem.state="in"
                                temppagetableitem.pageframenumber=temp.pop()
                                pageinmemory = pageinmemory -1
                            }
                            
                            temppagetable.push(temppagetableitem)
                        }
                        this.pagetableinmemory.push(temppagetable)
                        //创建段表
                        let tempsegmenttable = {
                            segmentnumber:i,
                            state:"in",
                            pagetabalesize:temppagetable.length,
                            pagetableaddress: this.pagetableinmemory.length-1
                        }
                        nowprocesssegmenttable.push(tempsegmenttable)
                    }
                    let process = {
                        pid:processid,
                        size: segmentnumber * segmentsize,
                        segmentlength: nowprocesssegmenttable.length,
                        segmenttable: nowprocesssegmenttable,
                        state:"run"
                    }
                    this.processtable.push(process)
                    this.createprocessid = this.createprocessid+1
                }
            },
            deleteprocess:function(index, row){
                console.log(row);
                //删除每个段的页表并置空内存
                for(let i = 0;i< row.segmenttable.length;i++){
                    let temppagetable = this.pagetableinmemory[row.segmenttable[i].pagetableaddress]
                    console.log(temppagetable);
                    for (let j = 0; j < temppagetable.length; j++) {
                        if(temppagetable[j].state=="in"){
                            this.mainmemory[temppagetable[j].pageframenumber].contain = -1
                            this.mainmemory[temppagetable[j].pageframenumber].hasdata = false
                            this.usablepagenum = this.usablepagenum + 1
                        }
                    }
                }
                //删除段表
                //删除进程
                this.processtable.splice(index,1)
            },
            fifo:function(needreplacetimes){
                // console.log(this.mainmemory);
                let temparr = []
                for (let j = 0; j < this.mainmemory.length; j++){
                    if(temparr.length<needreplacetimes && this.mainmemory[j].hasdata ==true){
                        temparr.push(this.mainmemory[j])
                    }
                    else if(temparr.length == needreplacetimes && this.mainmemory[j].hasdata == true){
                        for(let i = 0;i<needreplacetimes;i++){
                            if(temparr[i].age> this.mainmemory[j].age && this.mainmemory[i].hasdata == true){
                                temparr[i] = this.mainmemory[j] 
                                break
                            }
                        }
                    }
                }
                // for(item in temparr){
                //     console.log(temparr[item].pagenum);
                // }
                this.replacepage(temparr)
            },
            lru:function(needreplacetimes){
                let temparr = []
                for (let j = 0;j<this.mainmemory.length;j++) {
                    if (temparr.length < needreplacetimes&& this.mainmemory[j].hasdata == true ){
                        temparr.push(this.mainmemory[j])
                    }
                    else if(temparr.length == needreplacetimes && this.mainmemory[j].hasdata == true){
                        for (let i = 0; i < needreplacetimes; i++) {
                            if (temparr[i].times > this.mainmemory[j].times) {
                                temparr[i] = this.mainmemory[j]
                                 break
                            }
                        }
                    }
                }
                
                this.replacepage(temparr)
            },
            looksegmentframe:function(index,row){
                // console.log(index, row);
                this.nowprocess.segmenttable = row.segmenttable
                this.nowprocess.pid = row.pid
            },
            lookpagetable:function(index,row){
                console.log(row);
                this.nowprocesspagetable =this.pagetableinmemory[row.pagetableaddress]
                console.log(this.mainmemory);
                
            },
            replacepage:function(needreplacepage){
                for (item in needreplacepage){
                    //将当前元素置空
                    this.mainmemory[item].hasdata = false
                    this.mainmemory[item].contain = -1
                    //将被置换元素的进程的页转化为不在内存中
                    for(let item1 = 0;item1<this.pagetableinmemory.length;item1++){
                        if(this.pagetableinmemory[item1][0].processid == needreplacepage[item].contain){
                            for(let item2 = 0; item2< this.pagetableinmemory[item1].length;item2++){
                                if(this.pagetableinmemory[item1][item2].pageframenumber == needreplacepage[item].pagenum){
                                    this.pagetableinmemory[item1][item2].state = "out"
                                    this.usablepagenum = this.usablepagenum +1
                                    break;
                                }
                            }
                        }
                    }
                }
            },
            changepagestate:function(index,row){
                if (row.state=="out") {
                    //
                }
                else{
                    //将存在内存里的进程换出
                    // console.log(row);
                    row.state = "out"
                    this.mainmemory[row.pageframenumber].hasdata=false
                    this.mainmemory[row.pageframenumber].contain = -1
                    this.usablepagenum = this.usablepagenum + 1
                }
            },
            locatapage:function(){
                searchprocessid = this.searchprocessid
                searchprocesssegment = this.searchprocesssegment
                searchprocessspage=this.searchprocessspage
                for(let i = 0;i< this.processtable.length;i++){
                    if(this.processtable[i].pid == searchprocessid){
                        for(let j = 0;j< this.processtable[i].segmenttable.length;j++){
                            if(this.processtable[i].segmenttable[j].segmentnumber == searchprocesssegment){
                                if(this.processtable[i].segmenttable[j].pagetabalesize>=searchprocessspage){
                                    // console.log(this.processtable[i].segmenttable[j]);
                                    temppagetable = this.pagetableinmemory[this.processtable[i].segmenttable[j].pagetableaddress]                    
                                    for(let k=0;k<temppagetable.length;k++){
                                        if(temppagetable[k].pagenumber== searchprocessspage){
                                            // alert(temppagetable[k].pagenumber+ temppagetable[k].pageframenumber+ temppagetable[k].state)
                                            const h = this.$createElement;
                                            this.$message({
                                                showClose: true,
                                                message: h('p', null, [
                                                    h('div', null, '该页在内存中位置'),
                                                    h('i', { style: 'color: teal' }, temppagetable[k].pageframenumber),
                                                    h('div', null, '该页状态'),
                                                    h('i', { style: 'color: teal' }, temppagetable[k].state)
                                                ])
                                            });
                                            return
                                        }
                                        else{
                                            this.$message({
                                                showClose: true,
                                                message: '未找到，请重新输入',
                                                type: 'error'
                                            });
                                        }
                                    }
                                }
                                else{
                                    this.$message({
                                        showClose: true,
                                        message: '该进程段里没有此页',
                                        type: 'error'
                                    });
                                    alert("")
                                }
                            }
                            else{
                                this.$message({
                                    showClose: true,
                                    message: '该进程没有此段',
                                    type: 'error'
                                });
                            }
                        }
                    }
                    else{
                        this.$message({
                            showClose: true,
                            message: '没有此进程2',
                            type: 'error'
                        });
                    }
                }
                this.$message({
                    showClose: true,
                    message: '没有此进程',
                    type: 'error'
                });
            },
        },
    })
</script>
<style>

</style>
</html>